body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    display: flex;
    flex-direction: column; 
}

header {
    background-color: rgb(86, 215, 219);
    padding: 1rem;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 100px;
    background-color: #9c9b9b;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
}
.enviar {
    background-color: rgb(86, 215, 219);
    border: none;
    padding: 15px 32px;
    margin: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-radius: 5px;

}

.enviar:hover {
    background-color: #9c9b9b;
}

